<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
    <title>Home</title>
</head>
<body>

    {% extends "layout.html" %}

    {% block content %}
    <section class="intro">
        <img src="../static/person.png" alt="person">
        <h1>Welcome to the website!</h1>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.

        </p>
    </section>
    <section class="socials">
        <img src="../static/gitlab.webp" alt="Gitlab Logo" class="social-pic">
        <img src="../static/Github.webp" alt="Github Logo" class="social-pic">
        <img src="../static/x.webp" alt="X Logo" class="social-pic">
    </section>
    
    {% endblock %}
</body>
</html>