<nav class="flex-nav">
    {% for i in [{"url": "index", "name": "Home"}, {"url": "list", "name": "Projects"}, {"url": "techniques", "name": "Techniques"}] %}

        {% if request.url_rule.endpoint == i['url'] %}
            <a href="{{ url_for(i['url'])}}"><p class="nav-text nav-active">{{i['name']}}</p></a>
        {% else %}
            <a href="{{ url_for(i['url'])}}"><p class="nav-text">{{i['name']}}</p></a>
        {% endif %}
    {% endfor %}
</nav>

<!-- Above this is header -->
{% block content %}
{% endblock %}
<!-- Below this is footer  -->

<footer>
    <p class="footer-text">Johan Törner och Linus Nordin, 12 September 2023, Version 1.0, TDP003, Egna datormiljön</p>
</footer>
<script src="../static/script.js"></script>