<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Projects</title>
</head>
<body>
    <nav class="flex-nav">
        <a href="index.html"><p class="nav-text">Home</p></a>
        <a href="list.html" ><p class="nav-text nav-active">Projects</p></a>
        <a href="techniques.html"><p class="nav-text">Techniques</p></a>
    </nav>

    <section class="search-bar">
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Search">
            <button id="search-btn"> 🔎 </button>
        </div>
    </section>
    <section class="selection-bar">
        <select class="selection-item">
            <option value="default">Order by</input>
            <option value="date">Date</input>
            <option value="name">Name</input>
        </select>
        <select class="selection-item">

            <option value="acending">Acending</input>
            <option value="decending">Decending</input>
        </select>
    </section>
    <section class="selection-bar">
            <input type="checkbox" value="HTML">HTML</input>
            <input type="checkbox" value="CSS">CSS</input>
            <input type="checkbox" value="JS">JavaScript</input>
            <input type="checkbox" value="TS">TypeScript</input>
            <input type="checkbox" value="py">Python</input>
            <input type="checkbox" value="C">C</input>
            <input type="checkbox" value="C++">C++</input>
            <input type="checkbox" value="C#">C#</input>
            <input type="checkbox" value="Ruby">Ruby</input>
            <input type="checkbox" value="SQL">SQL</input>
            <input type="checkbox" value="NoSQL">NoSQL</input>
    </section>
        <section class="info">
            <div>
                <img src="../static/csharp.png" alt="C# Logo">
            </div>
            <div>
                <ul>
                    <a href="project.html"><li><h4><u>C# Project</u></h4></li></a>
                    <li><h4>Course: TDP003</h4></li>
                    <li><h4>Techniques: C#, JSON, SQL</h4></li>
                    <li><h4>Link: <a href="">ex</a></h4></li>
                </ul>
            </div>  
        </section>

        <section class="info">
            <div>
                <img src="../static/ts.png" alt="TS Logo">
            </div>
            <div>
                <ul>
                    <li><h4>TS-Project</h4></li>
                    <li><h4>Course: TDP002</h4></li>
                    <li><h4>Techniques: TypeScript, JSON, NoSQL, CSS, HTML, AngularJS</h4></li>
                    <li><h4>Link: <a href="">ex</a></h4></li>
                </ul>
            </div>  
        </section>
    <footer>
        <p class="footer-text">Johan Törner och Linus Nordin, 12 September 2023, Version 1.0, TDP003, Egna datormiljön</p>
    </footer>
</body>
    