<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Projects</title>
</head>
<body>
    <nav class="flex-nav">
        <a href="{{ url_for('index')}}"><p class="nav-text">Home</p></a>
        <a href="{{ url_for('list')}}" ><p class="nav-text nav-active">Projects</p></a>
        <a href="{{ url_for ('techniques')}}"><p class="nav-text">Techniques</p></a>
    </nav>

    <section class="search-bar">
        <div class="search-bar">
            <form method="POST">
                <input name="text" id="search-input" placeholder="Search">
                <button id="search-btn"> 🔎 </button>
            </form>
        </div>
    </section>
    <section class="selection-bar">
        <select class="selection-item">
            <option value="default">Order by</input>
            <option value="date">Date</input>
            <option value="name">Name</input>
        </select>
        <form method="POST">
            <select name="sortby" class="selection-item">
                    <option value="acending">Acending</input>
                    <option value="decending">Decending</input>
            </select>
        </form>
    </section>
    <section class="selection-bar">
        {% for t in techniques %}
            <input type="checkbox" value="{{t}}">{{t}}</input>
        {% endfor %}
    </section>
        {% for p in pl %}
            <section class="info">
                <div>
                    <img src="{{ p['small_img'] }}" alt="Project Logo">
                </div>
                <div>
                    <ul>
                        <a href="dummy"><li><h4><u>{{ p['name'] }} </u></h4></li></a>
                        <li><h4>Course: {{ p['course'] }}</h4></li>
                        <li><h4>Techniques: {{ p['techniques_used']}}</h4></li>
                        <li><h4>Link: <a href="{{ p['repos_link'] }}">Repository</a></h4></li>
                    </ul>
                </div>  
            </section>
        {% endfor %}

      
    <footer>
        <p class="footer-text">Johan Törner och Linus Nordin, 12 September 2023, Version 1.0, TDP003, Egna datormiljön</p>
    </footer>
</body>
</html>