<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
    <title>Admin Login</title>
</head>
<body>

    {% extends "layout.html" %}

    {% block content %}
    <section class="intro">
        <form method="post">
            Username: <input type="text" name="username" required>
            Password: <input type="password" name="password" required>
            <input type="submit" value="Login">
        </form>
        {%if error is defined %}
        {{ error }}
        {%endif%}
        </section>
    
    
        {% endblock %}
</body>
</html>