<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>Admin Panel</title>
</head>
<body>

    {% extends "layout.html" %}

    {% block content %}
    <section class="intro">
        <h4>Welcome, {{ user }}! </h4>
        <form method="POST">
            Name: <input type="text" id="project-name" required>
            Course: <input type="text" id="course-name">
            <br>
            <br>
            Start Date: <input type="date" id="start-date">
            End Date: <input type="date" id="end-date">
            <br>
            <br>
            Techniques :<input type="text" id="tech-box">
            <br>
            Repository Link:<input type="text" id="repo-link">
            <br>
            Small Image: <input type="file" id="small-img">
            Large Image: <input type="file" id="large-img">
            <br>
            Description: <input type="text" id="project-description">
            <input type="submit" value="Submit Project">
        </form>
        
    </section>
    
    {% endblock %}
</body>
</html>