<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>Admin Panel</title>
</head>
<body>

    {% extends "layout.html" %}

    {% block content %}
    <section class="intro">
        <h4>Welcome, {{ user }}! </h4>
            Name: <input type="text" id="project_name" required>
            Course: <input type="text" id="course_name">
            <br>
            <br>
            Start Date: <input type="date" id="start_date">
            End Date: <input type="date" id="end_date">
            <br>
            <br>
            Techniques<input type="text" id="tech-box"> <button id="add-tech">Add </button><br>
            <div id="display-tech"></div>
            <br>
            <br>
    </section>
    
    <script src="../static/script.js"></script>
    {% endblock %}
</body>
</html>