<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Contact</title>
</head>
<body>
    <nav class="flex-nav">
        <a href="{{ url_for('index')}}"><p class="nav-text">Home</p></a>
        <a href="{{ url_for('list')}}" ><p class="nav-text ">Projects</p></a>
        <a href="{{ url_for ('techniques')}}"><p class="nav-text">Techniques</p></a>
    </nav>

    <section class="project">
            <h2>C# Project</h2>
            <img src="../static/csharp.png" alt="C# Logo">
            <ul>
                <li><h4>C# Project</h4></li>
                <li><h4>Course: TDP003</h4></li>
                <li><h4>Techniques: C#, JSON, SQL</h4></li>
                <li><h4>Link: <a href="">ex</a></h4></li>
            </ul>
            <p>
                Take this kiss upon the brow!
                And, in parting from you now,
                Thus much let me avow —
                You are not wrong, who deem
                That my days have been a dream;
                Yet if hope has flown away
                In a night, or in a day,
                In a vision, or in none,
                Is it therefore the less gone? 
                All that we see or seem
                Is but a dream within a dream.

                I stand amid the roar
                Of a surf-tormented shore,
                And I hold within my hand
                Grains of the golden sand —
                How few! yet how they creep
                Through my fingers to the deep,
                While I weep — while I weep!
                O God! Can I not grasp
                Them with a tighter clasp?
                O God! can I not save
                One from the pitiless wave?
                Is all that we see or seem
                But a dream within a dream?
            </p>
    </section>
    
    <footer>
        <p class="footer-text">Johan Törner och Linus Nordin, 12 September 2023, Version 1.0, TDP003, Egna datormiljön</p>
    </footer>
</body>
    