<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Contact</title>
</head>
<body>
    {% extends "layout.html" %}

    {% block content %}

    <section class="project">
            <h2>{{ project['name'] }}</h2>
            <img src="{{ project['small_img'] }}" alt="C# Logo">
            <ul>
                <li><h4>{{ project['name'] }}</h4></li>
                <li><h4>ID: {{ project['project_id']}}</h4></li>
                <li><h4>Course: {{ project['course'] }}</h4></li>
                <li><h4>Start Date: {{ project['start_date'] }}</h4></li>
                <li><h4>Techniques: {{ project['techniques_used'] }}</h4></li>
                <li><h4><a href="{{ project['repos_link'] }}">Go to repository</a></h4></li>
            </ul>
            <p>{{ project['desc'] }}</p>
    </section>
    

    {% endblock %}
</body>
</html>