<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Techniques</title>
</head>
<body>
    <nav class="flex-nav">
        <a href="{{ url_for('index') }}"><p class="nav-text">Home</p></a>
        <a href="{{ url_for('list') }}"><p class="nav-text">Projects</p></a>
        <a href="{{ url_for('techniques')}}"><p class="nav-text nav-active">Techniques</p></a>
        <a href="{{ url_for('contact') }}"><p class="nav-text">Contact</p></a>
    </nav>
    
    <footer>
        <p class="footer-text">Johan Törner och Linus Nordin, 12 September 2023, Version 1.0, TDP003, Egna datormiljön</p>
    </footer>
</body>
    