<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Techniques</title>
</head>
<body onload="debug()">
    {% extends "layout.html" %}

    {% block content %}
        <div class="img-row">
            {% for t in techniques %}
            <button class="p-button" value="{{t}}">{{t}}</button>
            {% endfor %}
            <button id="apply-button" action="">Search</button>
        </div>
        <div id="debug">

        </div>


        {% if dtek is defined %}
            {% for p in dtek %}
                <section class="info">
                    <div>
                        <img src="{{ p['small_img'] }}" alt="Project Logo">
                    </div>
                    <div>
                        <ul>
                            <a href="dummy"><li><h4><u>{{ p['name'] }} </u></h4></li></a>
                            <li><h4>Course: {{ p['course'] }}</h4></li>
                            <li><h4>Techniques: {{ p['techniques_used']}}</h4></li>
                            <li><h4>Link: <a href="{{ p['repos_link'] }}">Repository</a></h4></li>
                        </ul>
                    </div>  
                </section>
            {% endfor %}
        {% else %}
                <p><script>alert("Err")</script></p>
        {% endif %}

        
    

        {% endblock %}
    <script src="../static/script.js"></script>
</body>
    
</html>