<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
    <title>Techniques</title>
</head>
<body>
    <nav class="flex-nav">
        <a href="{{ url_for('index')}}"><p class="nav-text">Home</p></a>
        <a href="{{ url_for('list')}}" ><p class="nav-text ">Projects</p></a>
        <a href="{{ url_for ('techniques')}}"><p class="nav-text  nav-active">Techniques</p></a>
    </nav>
        <div class="img-row">
            {% for t in techniques %}
            <button class="p-button" value="{{t}}">{{t}}</button>
            {% endfor %}
        </div>
       

    <section class="info">
        <div>
            <img src="../static/csharp.png" alt="C# Logo">
        </div>
        <div>
            <ul>
                <a href="project.html"><li><h4><u>C# Project</u></h4></li></a>
                <li><h4>Course: TDP003</h4></li>
                <li><h4>Techniques: C#, JSON, SQL</h4></li>
                <li><h4>Link: <a href="">ex</a></h4></li>
            </ul>
        </div>  
    </section>
    <section class="info">
        <div>
            <img src="../static/ts.png" alt="TS Logo">
        </div>
        <div>
            <ul>
                <li><h4>TS-Project</li>
                <li><h4>Course: TDP002</h4></li>
                <li><h4>Techniques: TypeScript, JSON, NoSQL, CSS, HTML, AngularJS</h4></li>
                <li><h4>Link: <a href="">ex</a></h4></li>
            </ul>
        </div>  
    </section>

    
    <footer>
        <p class="footer-text">Johan Törner och Linus Nordin, 12 September 2023, Version 1.0, TDP003, Egna datormiljön</p>
    </footer>
</body>
    